@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h3 class="text-center">Los Clientes no buscan una marca, buscan una solución</h3>

    <div>
         <img src="~/Img/maxresdefault.jpg" class="img-circle elevation-2" alt="User Image" width="500">
    </div>
</div>
